
* {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
}

body {
    padding-top: 70px;
}
.navbar-default {
    background-color: #2196F3;
}
#pamBody {
    -webkit-box-shadow: 3px 0px 71px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 71px -7px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 71px -7px rgba(0,0,0,0.75);
}
#view a {
    margin-left: 10px;
}
label {
    margin-left: 7px;
}
a {
    color: #424242;
}
#appName {
    font-size: 20px;
    color: white;
}
#location {
    padding: 10px;
}
.files {
    cursor: pointer;
    margin-bottom: -1px !important;
}