
* {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
}

body {
    padding-top: 140px;

}

#nav-breadcrumb ol {
    margin-bottom: 0px;
    margin-top: 3px;
}

#view a {
    margin-left: 10px;
}
label {
    margin-left: 7px;
}

#location {
    padding: 10px;
}
.files {
    cursor: pointer;
    margin-bottom: -1px !important;
}
.list-group-item {
    border: 1px solid #676262;
}
.media {
    padding-left: 0px;
    padding-right: 0px;
}

#homeMenu {
    float: right;
}
